body{
    background-image: url('https://browsecat.net/sites/default/files/login-backgrounds-128292-582781-7693942.png');
 }
#container{
    background-image:url('https://browsecat.net/sites/default/files/login-backgrounds-128292-582669-5455043.png') ;
    background-color: rgb(212 176 141);
    margin-left: 258px;
    margin-right: 243px;
    padding-top: 46px;
    padding-bottom: 59px;
    border-radius: 26px;
}
#heading{
    font-family: 'Roboto', sans-serif;
}

#emailId{
    color: rgb(13 12 13);
    font-size: 27px;
}


#email{
    padding: 10px;
    padding-right: 86px;
    border-radius: 10px;
    background-color: #fff;
}
#passwordId{
    color: rgb(13 12 13);
    font-size: 27px;
    margin-left: 120px;
}
#password{
    padding: 10px;
    padding-right: 91px;
    border-radius: 10px;
    background-color: #fff;
}


#deleteButton{
    padding: 6px;
    border-radius: 8px;
}


