body{
   background-image: url('https://browsecat.net/sites/default/files/login-backgrounds-128292-582781-7693942.png');
}
#container{
    background-image:url('https://browsecat.net/sites/default/files/login-backgrounds-128292-582669-5455043.png') ;
    margin-left: 258px;
    margin-right: 243px;
    padding-top: 46px;
    padding-bottom: 59px;
    border-radius: 26px;

}
#heading{
    font-family: 'Roboto', sans-serif;
    color: #fff;
}


#mailid{
    color: #fff;
    font-size: 27px;
    margin-left: 12px;
}

#passlabel{
    color: #fff;
    font-size: 27px;
    margin-left: 7px;
}
#phonenum{
    color: #fff;
    font-size: 27px;
    margin-left: -51px;
}

#phone{
    padding: 10px;
    padding-right: 86px;
    border-radius: 10px;
    background-color: #fff;
    background: transparent;
    border-color: #fff;
}

#email{
    padding: 10px;
    padding-right: 86px;
    border-radius: 10px;
    background-color: #fff;
    background: transparent;
    border-color: #fff;
}
#firstn{
    
    color: #fff;
    font-size: 27px;

}
#lastn{
    
    color: #fff;
    font-size: 27px;

}
#cnfrmpasslabel{
    
    color: #fff;
    font-size: 27px;
    margin-left: 7px;
}
#cnfrmpassword{
    
    padding: 10px;
    padding-right: 90px;
    border-radius: 10px;
    background-color: #fff;
    margin-right: 95px;
    background: transparent;
    border-color: #fff;

}
#firstname{
    
    padding: 10px;
    padding-right: 86px;
    border-radius: 10px;
    background-color: #fff;
    background: transparent;
    border-color: #fff;

}
::placeholder{color:#fff}
#lastname{
    
    padding: 10px;
    padding-right: 86px;
    border-radius: 10px;
    background-color: #fff;
    background: transparent;
    border-color: #fff;

}
#password{
    padding: 10px;
    padding-right: 86px;
    border-radius: 10px;
    background-color: #fff;
    background: transparent;
    border-color: #fff;
    color: #fff;
}

#resetbtn{
    padding: 6px;
    border-radius: 8px;
    background: transparent;
    cursor: pointer;;
    border-color: #fff;
}


#submitbtn{
    padding: 6px;
    border-radius: 8px;
    margin-left: 41px;
    background: transparent;
    cursor: pointer;
    border-color: #fff;
}
