<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset = "UTF-8">
	<title> UPSMART Solutions </title>
	<link rel="stylesheet" href="editpassword.css">
	<style>
		#mylink{
			font-size: 25px;
		}
	</style>
</head>
<body align='center'>
    <div>
			
			<img src="http://www.upsmartsolutions.com/wp-content/uploads/2022/01/1080.png" width="200" height="100" alt="UpSmart Solutions India Pvt. Ltd.," id="logo">

	</div>
	<h2 id="heading">Change Your Password</h2>

	<div id='container'>
		
	<form action="/updatePassword" method="post">
		
			
			<label id="currentEmailId">Email ID/Username</label>
			<input type ="email" id = 'email' name="email" placeholder="Username" required>
			<br><br>

			<!-- <label id="currentPasswordId">Current Password</label>
			<input type="Password" id = "currentPassword" name="currentPassword" placeholder="Current Password" required>
			<br><br> -->

            <label id="resetPasswordId">Reset Password</label>
			<input type="password" id = "resetPassword" name="resetPassword" placeholder="Reset Password" required>
			<br><br>

            <label id="confirmPasswordId">Confirm Password</label>
			<input type="password" id = "confirmPassword" name="confirmPassword" placeholder="Confirm Password" required>
			<br><br>

			
			
		
			<button id="resetbtn" type ="submit">Reset Password</button>
			
		
		
        </form>
	</div>
        <br>

		<a id="loginLink" href="/">Log In</a>
        <br>
        

</body>
</html>